<tr>
  <td>
    <table class="templateFooter">
      <tr>
        <td class="footerContent">
          <table>
            <tr>
              <td class="social">
                <a href="#">Twitter</a> ·
                <a href="#">Facebook</a>
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td class="utility">
                <div>
                  <a href="#">Unsubscribe</a> — <a href="#">View in Browser</a>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>

</table>

<table class="templateAddress">
  <tr>
    <td>
      <br>
        This email template was prepared for you by your friends at <a href="https://kontist.com/">Kontist</a>.<br>
        Logo and image from <a href="http://mailchimp.com/">Mailchimp</a>.
      <br>
    </td>
  </tr>
</table>
