<tr>
  <td>
    <table class="templateFooter">
      <tr>
        <td class="footerContent">
          <table>
            <tr>
              <td class="social">
                <div mc:edit="std_social">
                  <a href="#">Twitter</a> ·
                  <a href="#">Facebook</a>
                </div>
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td class="utility">
                <div>
                  <a href="#">Unsubscribe</a> — <a href="#">View in Browser</a>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>

</table>

<table class="templateAddress">
<tr>
  <td>
    <br>
    <div mc:edit="std_footer">
      This email template was prepared for you by your friends at <a href="https://kontist.com/">Kontist</a>.<br>
      Logo and image from <a href="http://mailchimp.com/">Mailchimp</a>.
    </div>
    <br>
  </td>
</tr>
</table>
